:root {
    --color-primary: #6580fc;
}
.page-register{
    padding: 2rem 0;
}
.title{
    font-weight: 600;
    padding: 0;
    margin: 0 0 1rem 0;
    color: var(--color-primary);
}
.help{
    font-size: 12px;
    padding: 1rem 0;
}
.register-user .form-group label,
.login-user .form-group label{
    font-size: 14px;
    font-weight: 600;
}
.register-user .form-group .form-control,
.login-user .form-group .form-control{
    background-color: #FFF !important;
    border-radius: 10px;
}
.register-user .btn-primary,
.login-user .btn-primary,
.lost-password .btn-primary{
    background: var(--color-primary);;
    border-radius: 10px;
    border: 1px solid var(--color-primary);;
    font-weight: bold;
    padding: 10px 20px;
    margin-bottom: 1rem;

}
.register-user .btn-primary:hover,
.login-user .btn-primary:hover,
.lost-password .btn-primary:hover{
    color: #bdc8f2;
    background: var(--color-primary);;
    border: 1px solid var(--color-primary);;
}
.register-user .help,
.lost-password .help{
    font-size: 12px;
    padding: 1rem;
    font-style:italic;
}
.login-user .btn-default {
    border: 1px solid var(--color-primary);;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #4E4957;
    padding: 10px 20px;
    background: #ffffff;
}
.login-user .btn-default:hover {
    color: #bdc8f2;
    background-color: #fbfbff;
    border: 1px solid #808de8;
}
.login-user .lost-password{
    text-align: center;
}
#paswordtrength{
    margin: 10px 0;
}
#paswordtrength .alert{
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
}
#email-status.alert{
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    margin: 10px 0;
}
.header-bar-login{
    display: flex;
    flex-shrink: 0;
    margin-bottom: 0;
    margin-top: 0;
    order: 3;
    padding-left: 0;
}
.header-bar-login .btn-list {
    padding: 0;
    list-style: none;
    margin: 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.header-bar-login .btn-list .btn-list-item{
    margin:0;
    padding-left: 10px!important;
}
.header-bar-login .btn-cta{
    border-radius: 10px!important;
    font-size: 13px!important;
    padding: 10px 20px!important;
    font-weight: 700;
}
.header-bar-login .btn-cta.btn-login{
    border: 2px solid #6581fd;
    color: #6581fd;
}
.header-bar-login .btn-cta.btn-register{
    border: 2px solid #6581fd;
    background-color: #6581fd;
    color: #FFF;
}
.header-bar-login .btn-cta.btn-login:hover{
    border: 2px solid #bdc8f2;
    color: #bdc8f2;
}
.header-bar-login .btn-cta.btn-register:hover{
    border: 2px solid #bdc8f2;
    background-color: #bdc8f2;
    color: #FFF;
}
.img-profile.rounded-circle{
    height: 2rem;
    width: 2rem;
}
.navbar-expand .navbar-nav {
    flex-direction: row;
}
.topbar .nav-item .nav-link{
    height: 4.375rem;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
}
.user-login{
    list-style: none;
    margin: 0;
    padding:0;
}
/* login */
.ftco-section {
    padding: 7em 0;
    display: block;
}
.img-form{
    width: 50%;
}
.login-wrap{
    width: 50%;
}
@media (max-width: 480px) {
    .img-form {
        width: 100%;
    }
}
